@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .links {
    @apply hover:bg-teal-500 transition-colors duration-300 hover:text-[#f3f0f0] rounded-xl w-full p-1 px-3 text-center focus:bg-teal-500 focus:text-white font-bold flex items-center gap-2 dark:hover:text-[#152731ec] dark:focus:text-[#152731ec];
  }
}
